body{
    margin: 0;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    min-height: 100vh;
}


header{
    background-color:red;
}
main{
    flex: 1 0 0;
    background-color: greenyellow;
}
footer{
    background-color: hotpink;
}
header, footer{
    height: 50px;
}
button{
    width: 20%;
    margin: auto;
    padding: .9em;
    background: lavender;
    font-weight: 100;
}
input{
    width: 20%;
    margin: auto;
    padding: .9em;
}

